<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/imsearch.css' %}" />
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/imsearch.js' %}"></script>

<title>{% block title %}Imgur Video Search{% endblock %}</title>
</head>
<body>
        {% block page_header %}
            <div id ="page_header">
                <h2><a class ="whitelink" href="{% url 'search_screen' %}">
                Imgur Video Search
                </a></h2>
            </div>
        {% endblock %}

        <div id="page_body">
            {% block body %}
            {% endblock %}
        </div>
</body>
</html>
